@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-*: initial;
  --color-white: #ffffff;
  --color-lime-300: #BEF264;
  --color-lime-950: #1A2E05;
  --color-zinc-50: #FAFAFA;
  --color-zinc-100: #F4F4F5;
  --color-zinc-200: #E4E4E7;
  --color-zinc-300: #D4D4D8;
  --color-zinc-400: #A1A1AA;
  --color-zinc-500: #71717A;
  --color-zinc-700: #3F3F46;
  --color-zinc-800: #27272A;
  --color-zinc-900: #18181B;
  --color-zinc-950: #09090B;
}
